.pics { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    gap: 12px;
    font-style: italic;
    font-size: 14px;
    color: #828282;
}
.pics img {
    max-width: 100%;
    max-height: 720px;
    height: auto;
    width: auto;
}